<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin:0;font-family:nunito'>
    <table
      class='pc-project-body'
      style='table-layout: fixed; min-width: 600px; background-color: #ffede7;'
      bgcolor='#ffede7'
      width='100%'
      border='0'
      cellspacing='0'
      cellpadding='0'
      role='presentation'
    >
      <tbody>
        <tr>
          <td align='center' valign='top'>
            <table
              class='pc-project-container'
              align='center'
              width='600'
              style='width: 600px; max-width: 600px;'
              border='0'
              cellpadding='0'
              cellspacing='0'
              role='presentation'
            >
              <tbody>
                <tr>
                  <td
                    style='padding: 20px 0px 20px 0px;'
                    align='left'
                    valign='top'
                  >
                    <table
                      border='0'
                      cellpadding='0'
                      cellspacing='0'
                      role='presentation'
                      width='100%'
                      style='width: 100%;'
                    >

                      <tbody>
                        <tr>
                          <td valign='top'>
                            <!-- BEGIN MODULE: Gift Card -->
                            <table
                              width='100%'
                              border='0'
                              cellspacing='0'
                              cellpadding='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td
                                    class='pc-w620-spacing-0-0-0-0'
                                    style='padding: 0px 0px 0px 0px;'
                                  >

                                    <table
                                      width='100%'
                                      border='0'
                                      cellspacing='0'
                                      cellpadding='0'
                                      role='presentation'
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            valign='top'
                                            class='pc-w620-padding-32-20-0-20'
                                            style='padding: 30px 20px 0px 20px; border-radius: 20px 20px 0px 0px; background-color: #ff666e;'
                                            bgcolor='#ff666e'
                                          >

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td>

                                                    <table
                                                      class='pc-width-fill pc-w620-gridCollapsed-1'
                                                      width='100%'
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                    >
                                                      <tbody>
                                                        <tr
                                                          class='pc-grid-tr-first pc-grid-tr-last'
                                                        >

                                                          <td
                                                            class='pc-grid-td-first pc-grid-td-last pc-w620-itemsSpacings-0-30'
                                                            align='left'
                                                            valign='top'
                                                            style='width: 100%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0; width: 100%;'
                                                              width='100%'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    class='pc-w620-padding-40-20-40-20'
                                                                    align='center'
                                                                    valign='middle'
                                                                    style='padding: 60px 40px 60px 40px; background-color: #ffffff; border-radius: 20px 20px 20px 20px;'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              width='100%'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    class='pc-w620-spacing-0-0-20-0'
                                                                                    align='center'
                                                                                    valign='top'
                                                                                    style='padding: 0px 0px 32px 0px;'
                                                                                  >

                                                                                    <img
                                                                                      src='https://edu-wise-fe.vercel.app/images/logo.png'
                                                                                      class='pc-w620-width-60 pc-w620-height-auto'
                                                                                      width='180'
                                                                                      height='180'
                                                                                      alt=''
                                                                                      style='display: block; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 180px; height: auto; max-width: 100%; border: 0;'
                                                                                    />

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                    style='padding: 0px 0px 24px 0px;'
                                                                                  >

                                                                                    <table
                                                                                      border='0'
                                                                                      cellpadding='0'
                                                                                      cellspacing='0'
                                                                                      role='presentation'
                                                                                      width='100%'
                                                                                      style='border-collapse: separate; border-spacing: 0;'
                                                                                    >
                                                                                      <tbody
                                                                                      >
                                                                                        <tr
                                                                                        >
                                                                                          <td
                                                                                            valign='top'
                                                                                            align='center'
                                                                                            style='padding: 0px 0px 0px 0px;'
                                                                                          >

                                                                                            <div
                                                                                              class='pc-font-alt pc-w620-fontSize-32px'
                                                                                              style="line-height: 120%; letter-spacing: -1px; font-family: 'Inter', Arial, Helvetica, sans-serif; font-size: 36px; font-weight: bold; font-variant-ligatures: normal; color: #27325e; text-align: center; text-align-last: center;"
                                                                                            >
                                                                                              <div
                                                                                              >
                                                                                                <span
                                                                                                >Thank
                                                                                                  You
                                                                                                  for
                                                                                                  Signing
                                                                                                  Up!</span>
                                                                                              </div>
                                                                                            </div>

                                                                                          </td>
                                                                                        </tr>
                                                                                      </tbody>
                                                                                    </table>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                    style='padding: 0px 0px 36px 0px;'
                                                                                  >

                                                                                    <table
                                                                                      border='0'
                                                                                      cellpadding='0'
                                                                                      cellspacing='0'
                                                                                      role='presentation'
                                                                                      width='100%'
                                                                                      style='border-collapse: separate; border-spacing: 0;'
                                                                                    >
                                                                                      <tbody
                                                                                      >
                                                                                        <tr
                                                                                        >
                                                                                          <td
                                                                                            valign='top'
                                                                                            align='center'
                                                                                            style='padding: 0px 0px 0px 0px;'
                                                                                          >

                                                                                            <div
                                                                                              class='pc-font-alt pc-w620-fontSize-14px'
                                                                                              style="line-height: 150%; letter-spacing: 0.1px; font-family: 'Inter', Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-variant-ligatures: normal; color: #27325e; text-align: center; text-align-last: center;"
                                                                                            >
                                                                                              <div
                                                                                              ><span
                                                                                                  style='font-weight: 400;font-style: normal;color: var(--tw-prose-body);'
                                                                                                >Thank
                                                                                                  you
                                                                                                  for
                                                                                                  signing
                                                                                                  up
                                                                                                  on
                                                                                                  <span
                                                                                                    style='font-weight: 700;font-style: normal;color: rgb(255, 102, 110);'
                                                                                                  >Dream
                                                                                                    LMS</span>.
                                                                                                  We
                                                                                                  are
                                                                                                  thrilled
                                                                                                  to
                                                                                                  have
                                                                                                  you
                                                                                                  with
                                                                                                  us!
                                                                                                </span><span
                                                                                                  style='font-weight: 400;font-style: normal;color: var(--tw-prose-body);'
                                                                                                >
                                                                                                  We
                                                                                                  hope
                                                                                                  you
                                                                                                  enjoy
                                                                                                  your
                                                                                                  experience.
                                                                                                  If
                                                                                                  you
                                                                                                  have
                                                                                                  any
                                                                                                  questions,
                                                                                                  feel
                                                                                                  free
                                                                                                  to
                                                                                                  reach
                                                                                                  out
                                                                                                  to
                                                                                                  our
                                                                                                  support
                                                                                                  team</span></div>
                                                                                            </div>

                                                                                          </td>
                                                                                        </tr>
                                                                                      </tbody>
                                                                                    </table>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>

                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              width='100%'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <th
                                                                                    valign='top'
                                                                                    class='pc-w620-spacing-0-0-32-0'
                                                                                    align='center'
                                                                                    style='padding: 0px 0px 32px 0px; text-align: center; font-weight: normal; line-height: 1;'
                                                                                  >
                                                                                    <a
                                                                                      class='pc-w620-fontSize-16px pc-w620-padding-14-32-14-32'
                                                                                      style="display: inline-block; box-sizing: border-box; border-radius: 100px 100px 100px 100px; background-color: #ff666e; padding: 16px 45px 16px 45px; width: 100%; font-family: 'Inter', Arial, Helvetica, sans-serif; font-weight: 600; font-size: 18px; line-height: 150%; letter-spacing: -0.2px; color: #ffffff; vertical-align: top; text-align: center; text-align-last: center; text-decoration: none; -webkit-text-size-adjust: none;"
                                                                                      href={{url}}
                                                                                      target='_blank'
                                                                                    ><span
                                                                                        style='display: block;'
                                                                                      ><span
                                                                                        >Confirm
                                                                                          Email</span></span></a>
                                                                                  </th>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>
                                                                          </td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              width='100%'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                              style='width: 100%;'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                    style='padding: 0px 0px 32px 0px;'
                                                                                  >

                                                                                    <table
                                                                                      width='100%'
                                                                                      border='0'
                                                                                      cellpadding='0'
                                                                                      cellspacing='0'
                                                                                      role='presentation'
                                                                                      style='margin: auto;'
                                                                                    >
                                                                                      <tbody
                                                                                      >
                                                                                        <tr
                                                                                        >

                                                                                          <td
                                                                                            height='1'
                                                                                            valign='top'
                                                                                            style='line-height: 1px; font-size: 1px; border-bottom: 1px solid #e7e0e0;'
                                                                                          >
                                                                                            &nbsp;</td>
                                                                                        </tr>
                                                                                      </tbody>
                                                                                    </table>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>

                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- END MODULE: Gift Card -->
                          </td>
                        </tr>

                        <tr>
                          <td valign='top'>
                            <!-- BEGIN MODULE: Footer 7 -->
                            <table
                              width='100%'
                              border='0'
                              cellspacing='0'
                              cellpadding='0'
                              role='presentation'
                            >
                              <tbody>
                                <tr>
                                  <td style='padding: 0px 0px 0px 0px;'>

                                    <table
                                      width='100%'
                                      border='0'
                                      cellspacing='0'
                                      cellpadding='0'
                                      role='presentation'
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            valign='top'
                                            class='pc-w520-padding-30-30-30-30 pc-w620-padding-35-35-35-35'
                                            style='padding: 40px 20px 40px 20px; border-radius: 0px 0px 20px 20px; background-color: #ff666e;'
                                            bgcolor='#ff666e'
                                          >

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align='center'
                                                    valign='top'
                                                    style='padding: 0px 0px 14px 0px;'
                                                  >

                                                    <table
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                      width='100%'
                                                      style='border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto;'
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            valign='top'
                                                            align='center'
                                                          >

                                                            <div
                                                              class='pc-font-alt'
                                                              style="line-height: 143%; letter-spacing: -0.2px; font-family: 'Inter', Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-variant-ligatures: normal; color: #ffffff; text-align: center; text-align-last: center;"
                                                            >
                                                              <div><span>Join
                                                                  our groming
                                                                  communities!
                                                                </span></div>
                                                            </div>

                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align='center'
                                                    style='padding: 0px 0px 32px 0px;'
                                                  >

                                                    <table
                                                      class='pc-width-hug pc-w620-gridCollapsed-0'
                                                      align='center'
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                    >
                                                      <tbody>
                                                        <tr
                                                          class='pc-grid-tr-first pc-grid-tr-last'
                                                        >

                                                          <td
                                                            class='pc-grid-td-first pc-w620-itemsSpacings-20-0'
                                                            valign='middle'
                                                            style='padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 0px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0;'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    align='center'
                                                                    valign='middle'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                  >
                                                                                    <a
                                                                                      class='pc-font-alt'
                                                                                      href='#'
                                                                                      target='_blank'
                                                                                      style='text-decoration: none;'
                                                                                    >
                                                                                      <img
                                                                                        src='https://s1.designmodo.com/postcards/49d3df40d21a60424c3bf0f27d4ce8f9.png'
                                                                                        class=''
                                                                                        width='24'
                                                                                        height='24'
                                                                                        style='display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 24px; height: 24px;'
                                                                                        alt=''
                                                                                      />
                                                                                    </a>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>

                                                          <td
                                                            class='pc-w620-itemsSpacings-20-0'
                                                            valign='middle'
                                                            style='padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0;'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    align='center'
                                                                    valign='middle'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                  >
                                                                                    <a
                                                                                      class='pc-font-alt'
                                                                                      href='#'
                                                                                      target='_blank'
                                                                                      style='text-decoration: none;'
                                                                                    >
                                                                                      <img
                                                                                        src='https://s1.designmodo.com/postcards/fe68152620e8c8adcbb7728bd667dadb.png'
                                                                                        class=''
                                                                                        width='24'
                                                                                        height='24'
                                                                                        style='display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 24px; height: 24px;'
                                                                                        alt=''
                                                                                      />
                                                                                    </a>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>

                                                          <td
                                                            class='pc-w620-itemsSpacings-20-0'
                                                            valign='middle'
                                                            style='padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0;'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    align='center'
                                                                    valign='middle'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                  >
                                                                                    <a
                                                                                      class='pc-font-alt'
                                                                                      href='#'
                                                                                      target='_blank'
                                                                                      style='text-decoration: none;'
                                                                                    >
                                                                                      <img
                                                                                        src='https://s1.designmodo.com/postcards/97d1e3e2fd722d0140b51806fa857340.png'
                                                                                        class=''
                                                                                        width='24'
                                                                                        height='24'
                                                                                        style='display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 24px; height: 24px;'
                                                                                        alt=''
                                                                                      />
                                                                                    </a>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>

                                                          <td
                                                            class='pc-grid-td-last pc-w620-itemsSpacings-20-0'
                                                            valign='middle'
                                                            style='padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0;'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    align='center'
                                                                    valign='middle'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                  >
                                                                                    <a
                                                                                      class='pc-font-alt'
                                                                                      href='#'
                                                                                      target='_blank'
                                                                                      style='text-decoration: none;'
                                                                                    >
                                                                                      <img
                                                                                        src='https://s1.designmodo.com/postcards/89bd5055c582a01a61f3f9893a5cb9a2.png'
                                                                                        class=''
                                                                                        width='24'
                                                                                        height='24'
                                                                                        style='display: block; border: 0; outline: 0; line-height: 100%; -ms-interpolation-mode: bicubic; width: 24px; height: 24px;'
                                                                                        alt=''
                                                                                      />
                                                                                    </a>

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align='center'
                                                    valign='top'
                                                    style='padding: 0px 0px 4px 0px;'
                                                  >

                                                    <table
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                      width='100%'
                                                      style='border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto;'
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            valign='top'
                                                            align='center'
                                                            style='padding: 0px 0px 0px 0px;'
                                                          >

                                                            <div
                                                              class='pc-font-alt pc-w620-lineHeight-140pc'
                                                              style="line-height: 143%; letter-spacing: -0.2px; font-family: 'Inter', Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-variant-ligatures: normal; color: #ffffff; text-align: center; text-align-last: center;"
                                                            >
                                                              <div><span>You are
                                                                  receiving this
                                                                  email because
                                                                  you signed up
                                                                  for Company
                                                                  newsletter.</span></div>
                                                            </div>

                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td align='center'>

                                                    <table
                                                      class='pc-width-hug pc-w620-gridCollapsed-0'
                                                      align='center'
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                    >
                                                      <tbody>
                                                        <tr
                                                          class='pc-grid-tr-first pc-grid-tr-last'
                                                        >

                                                          <td
                                                            class='pc-grid-td-first pc-grid-td-last'
                                                            valign='top'
                                                            style='padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;'
                                                          >

                                                            <table
                                                              style='border-collapse: separate; border-spacing: 0;'
                                                              border='0'
                                                              cellpadding='0'
                                                              cellspacing='0'
                                                              role='presentation'
                                                            >
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    align='center'
                                                                    valign='top'
                                                                  >

                                                                    <table
                                                                      align='center'
                                                                      width='100%'
                                                                      border='0'
                                                                      cellpadding='0'
                                                                      cellspacing='0'
                                                                      role='presentation'
                                                                      style='width: 100%;'
                                                                    >
                                                                      <tbody>
                                                                        <tr>
                                                                          <td
                                                                            align='center'
                                                                            valign='top'
                                                                          >

                                                                            <table
                                                                              align='center'
                                                                              border='0'
                                                                              cellpadding='0'
                                                                              cellspacing='0'
                                                                              role='presentation'
                                                                            >
                                                                              <tbody
                                                                              >
                                                                                <tr
                                                                                >
                                                                                  <td
                                                                                    valign='top'
                                                                                    style='padding: 0px 0px 20px 0px;'
                                                                                  >

                                                                                  </td>
                                                                                </tr>
                                                                              </tbody>
                                                                            </table>

                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>

                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                            <table
                                              width='100%'
                                              border='0'
                                              cellpadding='0'
                                              cellspacing='0'
                                              role='presentation'
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align='center'
                                                    valign='top'
                                                    style='padding: 0px 0px 14px 0px;'
                                                  >

                                                    <table
                                                      border='0'
                                                      cellpadding='0'
                                                      cellspacing='0'
                                                      role='presentation'
                                                      width='100%'
                                                      style='border-collapse: separate; border-spacing: 0; margin-right: auto; margin-left: auto;'
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            valign='top'
                                                            align='center'
                                                          >

                                                            <div
                                                              class='pc-font-alt pc-w620-lineHeight-140pc'
                                                              style="line-height: 143%; letter-spacing: -0.2px; font-family: 'Inter', Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-variant-ligatures: normal; color: #ffffff; text-align: center; text-align-last: center;"
                                                            >
                                                              <div><span>Tran
                                                                  Quoc Toan, Hai
                                                                  Chau, Danang</span></div>
                                                            </div>

                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- END MODULE: Footer 7 -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>